<a href="/"> Home</a>
<form action="/registerA" method="POST">
    Username: <input type="text" name="username">
    <input type = "submit" value = "Register">
</form>
<p style="color:#F00; font-weight:bold;"> {{error}} </p>